.navbar {
    background-color: rgba(0, 0, 0, 0.3); /* This makes the navbar transparent */
}

.navbar-brand,
.navbar-nav li a {
    color: white !important;
    transition: color 0.3s ease; /* Smooth transition for link color change */
}

.navbar-brand:hover,
.navbar-nav li a:hover {
    color: #f8f9fa !important;
    text-decoration: underline; /* Underline effect on hover */
}

body {
    background: url('https://cdn.pixabay.com/photo/2016/11/22/19/33/sea-1850228_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
