{% extends "base_signed_out.html" %}

{% block title %} <title> Welcome </title> {% endblock %}

{% block body %}
        <p class="text-center font-weight-bold">Welcome to Escobar's boatshop</p>
        <button name="login_button" id="login_button" class="btn btn-dark">Log in</button>
        <button name="register_button" id="register_button" class="btn btn-dark">Register</button>
        <button name="google_button" id="google_button" class="btn btn-dark">Log in / Register using Google account</button>
{% endblock %}
